{% extends "::base.html.twig" %}

{% block title %}AppBundle:RegistrationController:Registration{% endblock %}

{% block body %}





    <div id="overlay">

        <div id="menu">
            <div align="center"><h1>ImageService</h1></div>
            <div align="right">
                <a href="{{ path('page') }}">Home</a>
            </div>
        </div><br>


        <div id="images", align="center">

            <div align="center">{{ form_start(form) }}</div><br>
            <div align="center">{{ form_row(form.username) }}</div><br>
            <div align="center">{{ form_row(form.email) }}</div><br>
            <div align="center">{{ form_row(form.plainPassword.first) }}</div><br>
            <div align="center">{{ form_row(form.plainPassword.second) }}</div><br>
            <div align="center"> <button type="submit">Register!</button></div><br>
            <div align="center"> {{ form_end(form) }}</div><br>
        </div>

    </div>


{% endblock %}


{% block stylesheets %}
    <style>
        #menu{
            background-image: url({{ asset('images/background.png') }});
            color: lightskyblue;
            position: relative;
            width: 100%;
            bottom: 30px;
        }


        #images {
            background-color: #555555;
            width: auto;
            height: auto;

        }

        #overlay{

            background-color:#555555;
            position:fixed;
            width:100%;
            height:100%;
            top:0px;
            left:0px;
            z-index:1000;
        }

        h1{
            color: lightskyblue;
            font-style: italic;
            font-size: 300%;
        }

        h2{
            color: lightskyblue;
            font-style: italic;
            display: inline;
            font-size: 17px;
            font-weight: normal;
        }

        a{
            color: lightskyblue;
            text-decoration: none;
            font-style: italic;
            display: inline-block;
            width: auto;
            height: auto;
            margin: 4px;
            border: 1px solid lightskyblue;
            border-radius: 4px;
            background: #3c3c3a;
            line-height: 30px;
            transition: 5s;
            padding: 2px;
        }

        a:hover{
            background: rgba(100, 195, 255, 0.41);
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: lightskyblue;
            display: block;
            transition: 0.3s
        }

        .sidenav a:hover, .offcanvas a:focus{
            color: #f1f1f1;
        }






        @media screen and (max-height: 450px) {
            
            .sidenav a {font-size: 18px;}
        }

    </style>
{% endblock %}

