{% extends "::base.html.twig" %}

{% block title %}AppBundle:DisplayImage:DisplayImage{% endblock %}

{% block body %}
   <div id="overlay">
      <div id="menu">
         <div align="center"><h1>ImageService</h1></div>
         {% if last_username %}
            <div align="left">
               <span id="user" onclick="openNav2()">{{ last_username }}</span>
            </div>
         {% endif %}
         <div align="right">
            <a href="{{ path('page') }}">Home</a>
         </div>


      </div>






      <div id="images" align="center">
         <div align="center"> <img src="{{ asset(image.path) }}" width="500" height="300" /></div>
          <div id="like">
            <h3>{{ 'Likings: ' }}{{ likings|length }}</h3>


          </div>

          {% if last_username %}
          {% if is_liked==false %}
              <div id="like">
                  {{ form_start(form2) }}
                  {{ form_row(form2.like) }}
                  <button type="submit">Like it!</button>
              </div><br><br>
             {% endif %}
          {% endif %}


          <h2>Comments:</h2><br><br>

          <div id="comments" align="center">
              {% if comments !=NULL %}
                  {% for comment in comments %}
                      <div align="center" ><h5>{{ comment.user.getUsername() }}{{  ': '  }}</h5><h4>{{  comment.getContent() }}{{ '    (' }}{{ comment.getDate().format('Y.m.d')     }}{{ ' ' }}{{ comment.getDate().format('h:m') }}{{ ')' }}</h4></div>
                  {% endfor %}
              {% endif %}
          </div><br><br>



          {% if last_username %}
              <div id="form"></div>
                  {{ form_start(form) }}
                  {{ form_row(form.content) }}
                  <button type="submit">Add comment</button>
                  {{ form_end(form) }}
              </div>
          {% endif %}






      <div id="user_panel" class="sidenav">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
         <a href="{{ path('user_images', {'last_username': last_username}) }}">Your images</a>
         <a href="{{ path('add_image') }}">Add image</a>
      </div>





      <script>

         function openNav2() {
            document.getElementById("user_panel").style.width = "250px";
         }

         function closeNav2() {
            document.getElementById("user_panel").style.width = "0";
         }
      </script>

   </div>



{% endblock %}


{% block stylesheets %}
   <style>
      #menu{
         background-image: url({{ asset('images/background.png') }});
         color: lightskyblue;
         position: relative;
         width: 100%;
         bottom: 30px;
      }

      #user{
         cursor:pointer;
         color: lightskyblue;
         font-style: italic;
         margin: 4px;
         border: 1px solid lightskyblue;
         border-radius: 4px;
         background: #3c3c3a;
         line-height: 30px;
         transition: 5s;
         text-decoration: none;
         padding: 2px;
      }



      #images {
         background-color: #555555;
         width: auto;
         height: auto;

      }

      #overlay{

         background-color:#555555;
         position:absolute;
         width:100%;
         height:100%;
         top:0px;
         left:0px;
         z-index:1000;
      }

      #form{
          padding-bottom: 15px;
      }

       #comments
       {

           color:#222222;
           font-size:15px;
       }



      path{
         color: lightskyblue;
         background-color: #3c3c3a;
         border-color: #5eb5e0;
      }



      input{
         color: lightskyblue;
         background-color: #3c3c3a;
         border-color: #5eb5e0;
      }

      label{
         color: lightskyblue;
         background-color: #3c3c3a;
         border-color: #5eb5e0;
      }

      button{
         color: lightskyblue;
         background-color: #3c3c3a;
         border-color: #5eb5e0;
      }

      h1{

         color: lightskyblue;
         font-style: italic;
         font-size: 300%;
      }

      h3{
          background-color: #3c3c3a;
          color: lightskyblue;
          font-style: italic;
          font-size: 300%;
      }

      h2{
          background-color: #3c3c3a;
         color: lightskyblue;
         font-style: italic;
         display: inline;
         font-size: 22px;
         font-weight: normal;
      }

      h4{
          background-color: #3c3c3a;
          color: black;
          font-style: italic;
          display: inline;
          font-size: 18px;
          font-weight: normal;
      }

      h5{
          background-color: #3c3c3a;
          color: lightskyblue;
          font-style: italic;
          display: inline;
          font-size: 18px;
          font-weight: normal;
      }

      a{
         color: lightskyblue;
         text-decoration: none;
         font-style: italic;
         display: inline-block;
         width: auto;
         height: auto;
         margin: 4px;
         border: 1px solid lightskyblue;
         border-radius: 4px;
         background: #3c3c3a;
         line-height: 30px;
         transition: 5s;
         padding: 2px;
      }

      a:hover{
         background: rgba(100, 195, 255, 0.41);
      }
      #user:hover{
         background: rgba(100, 195, 255, 0.41);
      }


      #user_panel{
         font-family: Helvetica, SansSerif;
         font-size: 20px;
         color: lightskyblue;
      }

      #user_panel:hover{
         color: #818181;
      }

      .sidenav {
         height: 100%;
         width: 0;
         position: fixed;
         z-index: 1;
         top: 0;
         left: 0;
         background-color: rgba(51, 52, 52, 0.96);
         overflow-x: hidden;
         padding-top: 60px;
         transition: 0.5s;
      }

      .sidenav a {
         padding: 8px 8px 8px 32px;
         text-decoration: none;
         font-size: 25px;
         color: lightskyblue;
         display: block;
         transition: 0.3s
      }

      .sidenav a:hover, .offcanvas a:focus{
         color: #f1f1f1;
      }

      .sidenav .closebtn {
         position: absolute;
         top: 0;
         right: 25px;
         font-size: 36px;
         margin-left: 50px;
      }




      @media screen and (max-height: 450px) {
         .sidenav {padding-top: 15px;}
         .sidenav a {font-size: 18px;}
      }

   </style>



{% endblock %}
