{% extends "::base.html.twig" %}

{% block title %}AppBundle:User:UserImages{% endblock %}

{% block body %}
    <div id="menu">
        <div align="center"><h1>ImageService</h1></div>
        {% if last_username %}
            <div align="left">
                <span id="user" onclick="openNav2()">{{ last_username }}</span>
            </div>
        {% endif %}
        <div align="right">
            <a href="{{ path('registration') }}">Registration</a><br>
            <span id="login" onclick="openNav()">Login</span>
        </div>
    </div>
    <div id="images">

        {% for image in images2 %}
            <div align="center" > <img src="{{ asset(image.path) }}" width="500" height="300" /></div>
        {% endfor %}
    </div>

    <div id="references", align="center">
        {%  set pages=((images|length)/10)+1 %}

        {% if pages >= 2 %}
             {% for p in range (1,pages) %}
                 <a href="{{path('user_images', {'number': p}) }}">{{ p }}</a>
             {% endfor %}

        {% else %}
            <a href="{{path('user_images', {'number': 1}, {'last_user' : last_username}) }}">{{ 1 }}</a>

        {% endif %}

    </div>



{% endblock %}


{% block stylesheets %}
    <style>
        #menu{
            background-image: url({{ asset('images/background.png') }});
            color: lightskyblue;
        }

        #login{
            color: lightskyblue;
            font-style: italic;
            margin: 4px;
            border: 1px solid #4c4c49;
            border-radius: 4px;
            background: #3c3c3a;
            line-height: 30px;
            transition: 5s;
            text-decoration: none;
        }

        #references{
            background-image: url({{ asset('images/background.png') }});
            color: lightskyblue;
            text-decoration: none;
            font-style: italic;
            left: 10px;
            right: 10px;
            bottom: 10px;
            position: fixed;
        }

        #images {
            background-color: #555555;
            width: auto;
            height: auto;
        }

        h1{
            color: lightskyblue;
            font-style: italic;
            font-size: 300%;
        }

        h2{
            color: lightskyblue;
            font-style: italic;
            display: inline;
            font-size: 17px;
            font-weight: normal;
        }

        a{
            color: lightskyblue;
            text-decoration: none;
            font-style: italic;
            display: inline-block;
            width: auto;
            height: auto;
            margin: 4px;
            border: 1px solid #4c4c49;
            border-radius: 4px;
            background: #3c3c3a;
            line-height: 30px;
            transition: 5s;
        }

        a:hover{
            background: rgba(100, 195, 255, 0.41);
        }

        #form{
            font-family: Helvetica, SansSerif;
            font-size: 20px;
            color: lightskyblue;
        }

        #form:hover{
            color: #818181;
        }

        #user_panel{
            font-family: Helvetica, SansSerif;
            font-size: 20px;
            color: lightskyblue;
        }

        #user_panel:hover{
            color: #818181;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgba(4, 8, 28, 0.96);
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #2f6681;
            display: block;
            transition: 0.3s
        }

        .sidenav a:hover, .offcanvas a:focus{
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }


        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }

    </style>
{% endblock %}
